apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: grafana
  template:
    metadata:
      labels:
        app.kubernetes.io/name: grafana
    spec:
      volumes:
        - name: grafana
          persistentVolumeClaim:
            claimName: grafana
      containers:
        - name: grafana
          image: grafana/grafana
          # env:
          # - name: GF_INSTALL_PLUGINS
          #   value: yesoreyeram-infinity-datasource
          volumeMounts:
            - mountPath: /var/lib/grafana
              name: grafana
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  ports:
    - port: 3000
  selector:
    app.kubernetes.io/name: grafana
  type: ClusterIP
